<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
 
<link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture|Nanum+Pen+Script" rel="stylesheet">


<script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
     
    <title>Hello, world!</title>
    <script>
      function cmdajax(){
        $.ajax(
          {
            type:"POST",
            data:{"userid":$("#userid").val()},
            url:"/ajaxlist",
            dataType:"json",
            success:function(result){
              console.log(result);
              maketable(result);
            }
          });
        }
         function maketable(result){
            $("#ajaxlist").html(""),
            $("#ajaxlist").append(
              '<table class="table table-hover table-dark">'+
                '<thead>'+
              '<tr>'+
                '<th scope="col">아이디</th>'+
                '<th scope="col">비밀번호</th>'+
                '<th scope="col">이름</th>'+
                '<th scope="col">나이</th>'+
                '<th scope="col">이메일</th>'+
                '<th scope="col">주소</th>'+
                '<th scope="col">성별</th>'+
                '<th scope="col">전화번호</th>'+
                
              '</tr>'+
            '</thead>'
            );
            $(result).each(function(index,item){
              $("table").append(
                "<tr>"
                +"<td><a href='/content/"+item.userid+"'>"
                +item.userid
                +"</a></td>"
                +"<td>"
                +item.userpw
                +"</td>"
                +"<td>"
                +item.username
                +"</td>"
                +"<td>"
                +item.userage
                +"</td>"
                +"<td>"
                +item.useremail
                +"</td>"
                +"<td>"
                +item.useradd
                +"</td>"
                +"<td>"
                +item.usergender
                +"</td>"
                +"<td>"
                +item.usertel
                +"</td>"
                +"</tr>"
              );
            });
          }        
    </script>


  </head>
  <body>
      {% include "menu.html" %}
       
   <h1 align="center" style="margin-top: 7px">회원목록 리스트</h1>
   
    <div class="container-fluid">
        
          <div class="input-group mb-3">
            <input type="text" class="form-control" onkeyup="cmdajax();" id="userid"name="userid">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
            </div>
          </div>
          
        <div id="ajaxlist">
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">아이디</th>
                <th scope="col">비밀번호</th>
                <th scope="col">이름</th>
                <th scope="col">나이</th>
                <th scope="col">이메일</th>
                <th scope="col">주소</th>
                <th scope="col">성별</th>
                <th scope="col">전화번호</th>
                
              </tr>
            </thead>
            <tbody>
                {% for item in list: %}
              <tr>
                <td><a href="/content/{{item['userid']}}">{{item['userid']}}</a></td>
                <td>{{item['userpw']}}</td>
                <td>{{item['username']}}</td>
                <td>{{item['userage']}}</td>
                <td>{{item['useremail']}}</td>
                <td>{{item['useradd']}}</td>
                <td>{{item['usergender']}}</td>
                <td>{{item['usertel']}}</td>
                <td><a href="/deleteform/{{item['userid']}}"><input type="button" value="삭제" class="btn btn-primary"/></a></td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    
  
  
  
  
  <body>
</html>